/nbproject/private/
/styles/scss/.sass-cache/
/users/
/expromt/
/pack/delphi/
/pack/qt/
/server/
/nbproject/
settings.json
/example/windows
/example/arduino
tasks.json
/pack/webapp/tests/hash/
/bk/
/pack/android/
/gui/dataeditor.sha