@import "config";

// native

html { height: 100%; font-family: Arial, Helvetica, sans-serif; color: $textColor; }
body { height: 100%; width: 100%; margin: 0; }
input { padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; }
textarea { resize: none; margin: 0; padding: 0; }

// custom

.ui-label {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $fontSize;
}
.link {
    color: blue;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.ui-button {
    padding: 0;
    overflow: hidden;
    .ui-image+.label { margin-left: 5px; }
}

.ui-edit {
    box-sizing: border-box;
    &:invalid { background-color: #f88; }
}

.ui-memo { box-sizing: border-box; }

.ui-checkbox {
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-left: 3px;
    
    > .check { margin-right: 2px; flex-shrink: 0; }
    
    > .label {
        flex-grow: 1;
        font-size: $fontSize;
        &[disabled] { color: $textDisabledColor; }
    }
}

.ui-progressbar {
    border: 1px solid $borderColor;
    box-sizing: border-box;
    > .content { height: 100%;  background-color: $bgColorActive; display: none; }
}

.ui-trackbar { }

.ui-image {
    overflow: auto;
    img { display: block; }
}

.ui-youtube { }

.ui-yamap { border: 1px solid $borderColor; }

.ui-panel {
    border: 1px solid $borderColor;
    overflow: hidden;
    display: flex;
    box-sizing: border-box;
    
    > .content { position: relative; flex-grow: 1; }
}

.ui-combobox {  }

.ui-dropbox {
    border: 3px dotted $borderColor;
    box-sizing: border-box;
    
    &[over=true] {
        outline: 1px solid $borderColor;
    }
}

.ui-figure {
    svg {
        rect, line { shape-rendering: crispEdges; }
    }
}

.ui-canvas {
    cursor: default;
    @include user-select();
}

.ui-spoiler {
    height: auto;
    
    .caption {
        font-size: $fontSize;
        height: 19px;
        cursor: pointer;
        background: $controlColor url('/img/icons/el_right.png') no-repeat 0px 3px;
        padding-left: 18px;
        padding-top: 4px;
        overflow: hidden;
        
        &:hover {
            background-color: $selectedButton;
            color: white;
        }
    }
    
    .content {
        overflow: hidden;
        position: relative;
        height: 0;
        transition: height 0.2s ease-out;
        
        .body {
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1px solid $borderColor;
        }
    }
    
    &[opened=true] {
        .content {
            transition: height 0.2s ease-in;
        }
        
        .caption {
            background-color: #4a90d9;
            color: white;
        }
    }
}

.ui-splitter {
    min-width: 5px;
    min-height: 5px;
    cursor: col-resize;
    background-color: $controlColor;
    flex-shrink: 0;
    @include user-select();
    &[vertical=true] {
        cursor: row-resize;
    }
}

.ui-scrollbox { overflow: auto; }

.ui-simple-table {
    border: 1px solid $borderColor;
    display: flex;
    @include user-select();
    > div {
        flex-grow: 1;
        position: relative;
        > div {
            position: absolute;
            left: 0; top: 0; right: 0; bottom: 0;
            > table {
                font-size: $fontSize;
                background-color: $borderDark;
                border-spacing: 0;
                position: relative;
                width: 100%; height: 100%;
    
                > tbody {
                    overflow: auto;
                    position: absolute;
                    top: 18px; // skip header
                    bottom: 0; left: 0; right: 0;
                    background-color: $inputBgColor;
                    
                    > th {
                        line-height: 17px;
                    }
                    
                    > tr {
                        line-height: 17px;
                        cursor: default;
                        > td {
                            border: 1px solid $borderDark;
                            border-width: 0 1px 1px 0;
                            background-color: $inputBgColor;
							img { display: block; margin: auto; }
                        }
                        > td:last-child {
                            border-right: 0;
                        }
                        &:hover {
                            > td {
                                background-color: $bgColorHover;
                            }
                        }
                        &[selected=true] { > td { background-color: $bgColorActive; } }
                    }
                }                
            }
        }
    }
	&[headers=false] {
		thead { display: none; }
		tbody { top: 0; }
	}
}

.ui-chart { }

.ui-layout-flex { display: flex; }
