@import "config";

$btnSize: 16px;

.ui-toolbar {
    flex-wrap: wrap;
    align-items: center;
    @include user-select();
    
    .button {
        border: 1px solid transparent;
        height: 24px; min-width: 20px; min-height: 20px;
        padding-left: 4px;
        background-repeat: no-repeat;
		display: flex;
        
        .icon {
			margin-top: 4px;
            background-image: url("../img/commands.png");
            width: $btnSize; height: $btnSize;
			flex-shrink: 0;
        }
		
		.submenu {
			flex-shrink: 0;
			width: 12px;
			border-left: 1px solid transparent;
			margin-left: 3px;
			cursor: pointer;
			background-image: url("/img/down-arrow.png");
			background-repeat: no-repeat;
			background-position: 2px 5px;
			
			&:hover {
				border-left-color: $selectedButtonBorder;
			}
		}
        
        &[enabled=true] {
            &:hover {
                background-color: $selectedButton;
                border-color: $selectedButtonBorder;
                border-radius: $borderRadius;
                animation: toolbar-button 0.2s;
            }
            &:active {
                border: 1px solid $borderLight;
                background-color: $borderDark;
                border-radius: $borderRadius;
            }
        }
        &[enabled=false] {
            opacity: 0.5;
        }
        &[checked=true] {
			border: 1px solid $borderLight;
			border-radius: $borderRadius;
			background-color: $checkedColor;
        }
    }

    .splitter {
        border-right: 1px solid $borderLight;
        border-left: 1px solid $borderDark;
        width: 0px; height: 20px;
        float: left;
        margin: 3px;
    }
}

@keyframes toolbar-button {
    from { background-color: transparent; border-color: transparent; }
    to { background-color: $selectedButton; border-color: $selectedButtonBorder; }
}