@import "config";

// controls
@import "controls";
@import "switcher";
@import "loader";
@import "toolbar";
@import "listbox";
@import "hint";
@import "popup";
@import "mainmenu";
@import "dialog";

// hion controls
@import "docmanager";
@import "splash";
@import "hion-toolbar";
@import "hion-palette";
@import "hion-props";

@import "custom";

.infopanel {
    font-size: 12px;
    border: 1px solid gray;
    border-top: 0;
    border-bottom-left-radius: 7px; 
    border-bottom-right-radius: 7px;
    
    position: absolute;
    left: 30%;
    top: -60px;
    width: 300px;
    height: auto;
    
    text-align: center;
    box-shadow: 0 0 5px #888;
    
    overflow: hidden;
    cursor: pointer;
    
    transition: top 0.2s ease-out;
    
    .error {
        padding: 5px;
        background-color: #f88;
    }
    
    .info {
        padding: 5px;
        background-color: #8f8;
    }
}

*[visible=false] {
    display: none !important;
}

@media print {
    @page {
        size: auto;
        margin: 0;
    }
}


@media(max-width: 840px){
	.hion-toolbar {
		flex-wrap: wrap;
		height: auto;
		.hion { display: none; }
		.ui-toolbar {
			&:nth-child(2) {
				order: 10;
				.button:nth-child(5), .button:nth-child(20), .splitter:nth-child(1), .splitter:nth-child(19) { display: none; }
			}
			&:nth-child(6) { display: inherit; }
		}
		.user { padding-right: 0; }
		.mainmenu .item { padding: 5px 4px; }
	}
	.palette { width: 100px !important; border-right: 1px solid $borderDark; }
	.props {
		width: 180px;
		position: fixed; right: 0; top: 0; bottom: 0;
		background-color: $controlColor;
		border-left: 1px solid $borderLight;
		border-top: 0;
		box-shadow: 0 0 5px #888;
	}
	.ui-workspace { >.ui-splitter { display: none; } }
	.dialog {
		left: 0 !important;
		position: fixed;
		right: 0;
		max-width: 99% !important;
	}
	.frm-edit-grip { width: 11px !important; height: 11px !important; }
	.popup .item { height: 20px; }
	.logo { background-size: 300px auto !important; width: 300px !important; height: auto !important; div { margin-top: 157px !important; } }
}

// ::-webkit-scrollbar {
//     width: 10px;
//     height: 10px;
// }

// ::-webkit-scrollbar-thumb {
//     background: $controlColor;
//     box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
// }

// ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
// }

#workspace {
	background-color: $controlColor;
	display: flex; align-content: stretch; align-items: stretch; flex-direction: column;
	height: 100%;
	@include user-select();
}

.ui-workspace {
	align-content: stretch;
	align-items: stretch;
	flex-basis: 100%;
	
	> .ui-splitter {
		border-top: 1px solid $borderLight;
		border-right: 1px solid $borderDark;
	}
	.prop-splitter {
		border-left: 1px solid $borderLight;
		border-right: 0;
	}
}

.ui-property-editor {
    cursor: default;
    width: 100%;
    border-spacing: 0;
    
    tr {

        td {
            border: 1px solid $borderDark;
            border-width: 0 1px 1px 0;
            padding: 0;
            
            div.pe-title {
                 border-left: 1px solid transparent;
                 .in { left: 13px; }
            }
            div.pe-value {
                color: navy;
				position: relative;
                .color {
                    width: 11px; height: 11px;
                    border: 1px solid $borderColor;
                    margin: 0 3px; flex-shrink: 0;
                }
            }
            div.pe-header { padding-left: 5px; font-weight: bold; }
            div.pe-group {
                padding-left: 3px;
                display: flex;
                align-items: center;
                .caption { margin-left: 3px; }
            }
        }
        
        &[selected] {
            div.out {
                border-top-color: gray;
                border-bottom-color: white;
            }
            div.pe-title {
                border-left-color: gray;
            }
            div.pe-value {
                div.in {
					padding-top: 0; padding-left: 0; white-space: normal; overflow: visible;
					input[type=text] {
						padding-left: 2px;
					}
					div.advanced { padding-left: 2px; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
				}
            }
        }
    }
    
    div.out {
        position: relative;
        height: 16px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        
        div.in {
            padding-top: 1px;
            padding-left: 2px;
            bottom: 0; top: 0; left: 0px; right: 0;
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;
            align-items: center;

            input[type=text] {
                border: 0;
                height: 100%; width: 100%;
                min-width: 0;
                font-size: $fontSize;
                flex-grow: 1;
                padding-top: 1px;
                &:focus { outline: 0; }
            }
            button {
                padding: 0; width: 18px; height: 17px; flex-shrink: 0; font-size: 12px;
            }
            .combo {
				right: 0; top: 0;
                width: 120px;
                min-height: 36px;
                max-height: 120px;
                border: 1px solid $borderColor;
                background-color: $inputBgColor;
                margin-top: 18px;
                //margin-left: -24px;
                overflow: auto;
                position: absolute;
                z-index: 999;
                color: $textColor;
                
                > div {
                    font-weight: normal;
                    padding: 2px;
                    display: flex;
                    align-items: center;
                        
                    .color {
                        width: 12px; height: 12px;
                        border: 1px solid $borderColor;
                        margin: 0 3px;
                    }
                    
                    &:hover { background-color: $bgColorHover; }
                    &[default] { font-weight: bold; }
                    &[selected] { background-color: $bgColorActive; }
                }
            }
            &[changed] { font-weight: bold; }
            &[default] { font-weight: bold; }
            &[ingroup] { left: 22px; }
			&[manager] { color: maroon; font-weight: bold; }
        }
        
        .checkboxsmall {
            font-size: 0;
            width: 9px;
            margin-top: 4px;
            margin-left: 3px;
            
            input[type="checkbox"] {
                display:none;
                &  + span {
                    display: inline-block;
                    width: 9px; height: 9px;
                    background: url(/img/ui.png) -9px -13px no-repeat;
                    cursor:pointer;
                }
                &:checked + span { background-position: 0 -13px; }
            }
        }
        .checkboxspoiler {
            font-size: 0;
            
            input[type="checkbox"] {
                display:none;
                &:checked + span { background-position: -27px -13px; }
                & + span {
                    display: inline-block;
                    width: 9px; height: 9px;
                    background: url(/img/ui.png) -18px -13px no-repeat;
                    cursor:pointer;
                }
            }
        }
    }
}