.ui-svgcontrol {
	display: flex;
	align-items: center;
    justify-content: center;
	overflow: hidden;
}

@mixin ui-led-share($bg, $shadowIn, $shadowOut) {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: $bg;
	box-shadow: #000 0 -1px 5px 0px, inset $shadowIn 0 -1px 16px;
	&[off] {
		box-shadow: #000 0 -1px 5px 0px, inset $shadowIn 0 -1px 4px, $shadowOut 0 2px 12px;
	}
}

.ui-led {
	display: flex;
	align-items: center;
    justify-content: center;

	.red	{ @include ui-led-share(#f64, #600, #F00); }
	.yellow	{ @include ui-led-share(#fe1, #660, #DD0); }
	.green	{ @include ui-led-share(#9e0, #460, #7D0); }
	.blue	{ @include ui-led-share(#4AB, #006, #06F); }
}

.ui-potentiometer {
	background: silver;
	border: 1px solid #999;
	border-radius: 50%;
	box-shadow: 0px 0 8px 0;
	.slider {
		height:12px; width:12px;
		background: white;
		border-radius: 50%;
		box-shadow: inset 0px 0px 7px 0px;
		transform: translate(10px, 10px) rotate(0deg) translate(0, 15px);
	}
}