html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black; }

body {
  height: 100%;
  width: 100%;
  margin: 0; }

input {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

textarea {
  resize: none;
  margin: 0;
  padding: 0; }

.ui-label {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px; }

.link {
  color: blue; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }

.ui-button {
  padding: 0;
  overflow: hidden; }
  .ui-button .ui-image + .label {
    margin-left: 5px; }

.ui-edit {
  box-sizing: border-box; }
  .ui-edit:invalid {
    background-color: #f88; }

.ui-memo {
  box-sizing: border-box; }

.ui-checkbox {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 3px; }
  .ui-checkbox > .check {
    margin-right: 2px;
    flex-shrink: 0; }
  .ui-checkbox > .label {
    flex-grow: 1;
    font-size: 12px; }
    .ui-checkbox > .label[disabled] {
      color: #545454; }

.ui-progressbar {
  border: 1px solid gray;
  box-sizing: border-box; }
  .ui-progressbar > .content {
    height: 100%;
    background-color: #66ccff;
    display: none; }

.ui-image {
  overflow: auto; }
  .ui-image img {
    display: block; }

.ui-yamap {
  border: 1px solid gray; }

.ui-panel {
  border: 1px solid gray;
  overflow: hidden;
  display: flex;
  box-sizing: border-box; }
  .ui-panel > .content {
    position: relative;
    flex-grow: 1; }

.ui-dropbox {
  border: 3px dotted gray;
  box-sizing: border-box; }
  .ui-dropbox[over=true] {
    outline: 1px solid gray; }

.ui-figure svg rect, .ui-figure svg line {
  shape-rendering: crispEdges; }

.ui-canvas {
  cursor: default;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

.ui-spoiler {
  height: auto; }
  .ui-spoiler .caption {
    font-size: 12px;
    height: 19px;
    cursor: pointer;
    background: #efe9e3 url("/img/icons/el_right.png") no-repeat 0px 3px;
    padding-left: 18px;
    padding-top: 4px;
    overflow: hidden; }
    .ui-spoiler .caption:hover {
      background-color: #92604b;
      color: white; }
  .ui-spoiler .content {
    overflow: hidden;
    position: relative;
    height: 0;
    transition: height 0.2s ease-out; }
    .ui-spoiler .content .body {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid gray; }
  .ui-spoiler[opened=true] .content {
    transition: height 0.2s ease-in; }
  .ui-spoiler[opened=true] .caption {
    background-color: #4a90d9;
    color: white; }

.ui-splitter {
  min-width: 5px;
  min-height: 5px;
  cursor: col-resize;
  background-color: #efe9e3;
  flex-shrink: 0;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .ui-splitter[vertical=true] {
    cursor: row-resize; }

.ui-scrollbox {
  overflow: auto; }

.ui-simple-table {
  border: 1px solid gray;
  display: flex;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .ui-simple-table > div {
    flex-grow: 1;
    position: relative; }
    .ui-simple-table > div > div {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
      .ui-simple-table > div > div > table {
        font-size: 12px;
        background-color: #dcd0c3;
        border-spacing: 0;
        position: relative;
        width: 100%;
        height: 100%; }
        .ui-simple-table > div > div > table > tbody {
          overflow: auto;
          position: absolute;
          top: 18px;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: white; }
          .ui-simple-table > div > div > table > tbody > th {
            line-height: 17px; }
          .ui-simple-table > div > div > table > tbody > tr {
            line-height: 17px;
            cursor: default; }
            .ui-simple-table > div > div > table > tbody > tr > td {
              border: 1px solid #dcd0c3;
              border-width: 0 1px 1px 0;
              background-color: white; }
              .ui-simple-table > div > div > table > tbody > tr > td img {
                display: block;
                margin: auto; }
            .ui-simple-table > div > div > table > tbody > tr > td:last-child {
              border-right: 0; }
            .ui-simple-table > div > div > table > tbody > tr:hover > td {
              background-color: #efe9e3; }
            .ui-simple-table > div > div > table > tbody > tr[selected=true] > td {
              background-color: #66ccff; }
  .ui-simple-table[headers=false] thead {
    display: none; }
  .ui-simple-table[headers=false] tbody {
    top: 0; }

.ui-layout-flex {
  display: flex; }

.ui-switcher {
  background-color: #c9b9ab;
  border: 1px solid gray;
  border-radius: 3px;
  transition: background-color 0.3s linear; }
  .ui-switcher .in {
    background-color: #999;
    border: 1px solid #333;
    border-radius: 3px;
    height: 100%;
    width: 50%;
    position: relative;
    left: -1px;
    top: -1px;
    margin-left: 0%;
    transition: margin-left 0.3s linear;
    box-shadow: inset 0px 0px 3px 0px white; }
  .ui-switcher[on=true] {
    background-color: #66ccff; }
    .ui-switcher[on=true] .in {
      margin-left: 50%; }
  .ui-switcher[disabled] .in {
    background-color: #efe9e3; }

.ui-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; }

.g--circle {
  fill-opacity: 0;
  fill: gray;
  animation: opacityl 1.2s linear infinite; }
  .g--circle:nth-child(12n + 1) {
    animation-delay: -0.1s; }
  .g--circle:nth-child(12n + 2) {
    animation-delay: -0.2s; }
  .g--circle:nth-child(12n + 3) {
    animation-delay: -0.3s; }
  .g--circle:nth-child(12n + 4) {
    animation-delay: -0.4s; }
  .g--circle:nth-child(12n + 5) {
    animation-delay: -0.5s; }
  .g--circle:nth-child(12n + 6) {
    animation-delay: -0.6s; }
  .g--circle:nth-child(12n + 7) {
    animation-delay: -0.7s; }
  .g--circle:nth-child(12n + 8) {
    animation-delay: -0.8s; }
  .g--circle:nth-child(12n + 9) {
    animation-delay: -0.9s; }
  .g--circle:nth-child(12n + 10) {
    animation-delay: -1s; }
  .g--circle:nth-child(12n + 11) {
    animation-delay: -1.1s; }
  .g--circle:nth-child(12n + 12) {
    animation-delay: -1.2s; }

@keyframes opacityl {
  3% {
    fill-opacity: 1; }
  75% {
    fill-opacity: 0; } }
.ui-toolbar {
  flex-wrap: wrap;
  align-items: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .ui-toolbar .button {
    border: 1px solid transparent;
    height: 24px;
    min-width: 20px;
    min-height: 20px;
    padding-left: 4px;
    background-repeat: no-repeat;
    display: flex; }
    .ui-toolbar .button .icon {
      margin-top: 4px;
      background-image: url("../img/commands.png");
      width: 16px;
      height: 16px;
      flex-shrink: 0; }
    .ui-toolbar .button .submenu {
      flex-shrink: 0;
      width: 12px;
      border-left: 1px solid transparent;
      margin-left: 3px;
      cursor: pointer;
      background-image: url("/img/down-arrow.png");
      background-repeat: no-repeat;
      background-position: 2px 5px; }
      .ui-toolbar .button .submenu:hover {
        border-left-color: #684b3e; }
    .ui-toolbar .button[enabled=true]:hover {
      background-color: #92604b;
      border-color: #684b3e;
      border-radius: 3px;
      animation: toolbar-button 0.2s; }
    .ui-toolbar .button[enabled=true]:active {
      border: 1px solid white;
      background-color: #dcd0c3;
      border-radius: 3px; }
    .ui-toolbar .button[enabled=false] {
      opacity: 0.5; }
    .ui-toolbar .button[checked=true] {
      border: 1px solid white;
      border-radius: 3px;
      background-color: #eae8d0; }
  .ui-toolbar .splitter {
    border-right: 1px solid white;
    border-left: 1px solid #dcd0c3;
    width: 0px;
    height: 20px;
    float: left;
    margin: 3px; }

@keyframes toolbar-button {
  from {
    background-color: transparent;
    border-color: transparent; }
  to {
    background-color: #92604b;
    border-color: #684b3e; } }
.ui-listbox {
  border: 1px solid gray;
  background-color: white;
  display: flex;
  font-size: 12px;
  box-sizing: border-box;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .ui-listbox .content {
    position: relative;
    flex-grow: 1;
    overflow: auto; }
  .ui-listbox .items {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0; }
    .ui-listbox .items .item {
      white-space: nowrap;
      padding-left: 3px;
      cursor: pointer;
      height: 18px;
      display: flex;
      align-items: center; }
      .ui-listbox .items .item:hover {
        background-color: #efe9e3; }
      .ui-listbox .items .item[selected=true] {
        background-color: #66ccff; }
      .ui-listbox .items .item > span {
        text-overflow: ellipsis;
        overflow: hidden; }
  .ui-listbox .icon {
    height: 16px;
    width: 16px;
    margin-right: 3px; }
  .ui-listbox[disabled] {
    color: #545454;
    background-color: #efe9e3; }
    .ui-listbox[disabled] .item {
      cursor: default; }

.hint {
  border: 1px solid gray;
  padding: 2px;
  font-size: 12px;
  border-radius: 3px;
  max-width: 200px;
  background-color: #feff7e;
  box-shadow: 0 0 5px #888;
  position: absolute;
  overflow: hidden;
  animation: opacity 0.3s; }
  .hint .header {
    border-bottom: 1px dotted gray;
    font-weight: bold; }
  .hint .footer {
    border-top: 1px dotted gray; }
  .hint .icon {
    vertical-align: middle;
    margin-right: 4px; }

.popup {
  border: 1px solid #dcd0c3;
  background-color: #efe9e3;
  position: absolute;
  padding: 1px;
  z-index: 9999;
  box-shadow: 0 0 5px #888;
  animation: opacity 0.3s;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .popup .item {
    height: 16px;
    cursor: pointer;
    font-size: 12px;
    padding: 2px;
    padding-right: 7px;
    display: flex;
    align-items: center;
    white-space: nowrap; }
    .popup .item .icon {
      width: 16px;
      height: 16px;
      margin-right: 7px;
      margin-left: 4px;
      background-image: url("../img/commands.png"); }
    .popup .item:hover {
      background-color: #92604b;
      color: white; }
    .popup .item[enabled=false] {
      cursor: default;
      opacity: 0.5; }
      .popup .item[enabled=false]:hover {
        background-color: transparent;
        color: black; }
    .popup .item[checked=true] {
      font-weight: bold; }
  .popup .splitter {
    border-top: 1px solid #dcd0c3;
    border-bottom: 1px solid white;
    padding: 0;
    margin: 3px; }

.mainmenu {
  cursor: default;
  display: flex;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .mainmenu .item {
    padding: 5px 8px;
    font-size: 12px; }
    .mainmenu .item:hover {
      background-color: #c9b9ab; }
  .mainmenu .active {
    background-color: #92604b; }
    .mainmenu .active:hover {
      background-color: #92604b; }

.dialog {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 400px;
  border: 1px solid #5d453a;
  background-color: #5d453a;
  overflow: hidden;
  min-height: 16px;
  box-shadow: 0 0 15px #888;
  border-radius: 3px;
  animation: opacity 0.3s; }
  .dialog[resize=true] {
    border-width: 3px; }
  .dialog > .caption {
    height: 16px;
    min-height: 16px;
    padding: 2px;
    padding-left: 26px;
    font-weight: bold;
    font-size: 12px;
    color: white;
    background: #5d453a url("../img/sha.png") no-repeat 3px 2px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
    .dialog > .caption .text {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100%;
      cursor: move; }
    .dialog > .caption .close {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
      background-image: url("../img/window_close.png"); }
      .dialog > .caption .close:hover {
        background-color: white;
        border-radius: 8px; }
  .dialog > .body {
    background-color: #efe9e3;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; }
  .dialog > .tools {
    padding: 5px;
    text-align: right;
    background-color: #efe9e3;
    border-top: 1px solid #dcd0c3; }

.dialog-fullscreen {
  border-radius: 0; }

.docmanager {
  border-right: 1px solid #dcd0c3;
  flex-grow: 1; }
  .docmanager .tabs {
    padding: 2px 0;
    height: 22px;
    padding-bottom: 0;
    background-color: #efe9e3;
    border-top: 1px solid white;
    border-left: 1px solid white;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
    .docmanager .tabs:after {
      border-bottom: 1px solid #dcd0c3;
      width: 100%;
      display: block;
      height: 1px;
      content: ' ';
      margin-top: 20px; }
    .docmanager .tabs .body {
      position: absolute;
      transition: left 0.2s ease-out;
      margin-left: 2px; }
      .docmanager .tabs .body .tab {
        cursor: default;
        color: gray;
        display: flex;
        align-items: center;
        margin-bottom: -1px;
        background-color: #efe9e3;
        border: 1px solid #dcd0c3;
        font-size: 12px;
        padding: 2px 5px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        margin-right: 2px;
        animation: tab 0.3s;
        height: 16px;
        max-width: 200px; }
        .docmanager .tabs .body .tab:hover {
          color: black; }
        .docmanager .tabs .body .tab .title {
          flex-basis: 100%;
          flex-grow: 1;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 4px;
          white-space: nowrap; }
        .docmanager .tabs .body .tab .icon {
          background-image: url("../img/sha.png");
          width: 16px;
          height: 16px;
          flex-shrink: 0;
          margin-right: 3px;
          opacity: 0.5; }
        .docmanager .tabs .body .tab .close {
          width: 14px;
          height: 14px;
          color: gray;
          font-size: 12px;
          text-align: center;
          flex-shrink: 0;
          border-radius: 8px; }
          .docmanager .tabs .body .tab .close:hover {
            background-color: #dcd0c3;
            color: white; }
        .docmanager .tabs .body .tab[save=true] .close {
          content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAQAAAC1QeVaAAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgAwcHHzjg8FPOAAAAc0lEQVQY02NgoD9ghDEUpRjS/oX+Zfi9+tes988gYswwScFiz3o3UWNRUYcLX34fgIgxwST/hiow3GW4ziDH8DMUJgaX/M3wj+E3w0+Gvwx/GTAkf66+waDAoMFwk4FhNYbLuKXYGhiuMlxlaGCQYhhAAAB6vR9+Z/piugAAAABJRU5ErkJggg=="); }
        .docmanager .tabs .body .tab[active=true] {
          color: black;
          background-color: white;
          border-bottom: 1px solid white; }
          .docmanager .tabs .body .tab[active=true] .icon {
            opacity: 1.0; }
  .docmanager[drop] {
    opacity: 0.5;
    outline: 2px solid black; }
  .docmanager .doc-sha {
    flex-basis: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 0; }
    .docmanager .doc-sha > .content {
      justify-content: center; }
      .docmanager .doc-sha > .content > .canvas {
        flex-basis: 100%;
        flex-grow: 1;
        position: relative; }
        .docmanager .doc-sha > .content > .canvas > .scrollbox {
          position: absolute;
          overflow: auto;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0; }
          .docmanager .doc-sha > .content > .canvas > .scrollbox > canvas {
            background: white url("../img/back.gif");
            user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none; }
    .docmanager .doc-sha .statusbar {
      background-color: #efe9e3;
      border: 0;
      border-top: 1px solid #dcd0c3;
      padding-left: 5px;
      flex-shrink: 0; }
    .docmanager .doc-sha .form-editor {
      border: 0;
      padding-left: 7px;
      padding-top: 7px;
      flex-grow: 1; }
      .docmanager .doc-sha .form-editor > .content {
        overflow: auto; }
        .docmanager .doc-sha .form-editor > .content > .dialog, .docmanager .doc-sha .form-editor > .content > .ui-panel {
          position: absolute;
          left: 0 !important;
          top: 0 !important;
          box-shadow: initial;
          animation: none; }
        .docmanager .doc-sha .form-editor > .content .frm-ctl {
          position: absolute;
          margin: 0;
          padding: 0;
          font-size: 12px;
          box-sizing: border-box; }
        .docmanager .doc-sha .form-editor > .content .frm-top-ctl {
          margin: 0;
          left: 0;
          position: absolute;
          height: 100%;
          width: 100%; }
        .docmanager .doc-sha .form-editor > .content .frm-editor {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          border: 0; }
        .docmanager .doc-sha .form-editor > .content .frm-edit-grip {
          border: 1px solid gray;
          width: 7px;
          height: 7px;
          margin: 0;
          background-color: white; }
        .docmanager .doc-sha .form-editor > .content .frm-edit-select {
          border: 1px dotted gray;
          box-sizing: border-box; }
        .docmanager .doc-sha .form-editor > .content .axis-x {
          border-left: 1px dotted black;
          width: 1px;
          height: 100%; }
        .docmanager .doc-sha .form-editor > .content .axis-y {
          border-top: 1px dotted black;
          height: 1px;
          width: 100%; }
      .docmanager .doc-sha .form-editor .invisible-control {
        border: 1px dotted gray;
        background-color: white; }
  .docmanager .startup {
    background-color: white;
    border-left: 1px solid white;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    overflow: auto;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
    .docmanager .startup .button {
      text-align: center;
      border: 1px solid #dcd0c3;
      border-radius: 5px;
      background-color: #efe9e3;
      background-repeat: no-repeat;
      background-position: 34px 34px;
      width: 100px;
      height: 100px;
      cursor: pointer;
      margin: 10px; }
      .docmanager .startup .button:hover {
        background-color: #92604b; }
  .docmanager .graph {
    font-size: 12px;
    overflow: auto;
    flex-shrink: 0;
    background-color: white; }
    .docmanager .graph .node {
      display: flex;
      align-items: center; }
      .docmanager .graph .node .item {
        cursor: pointer;
        display: flex;
        align-items: center; }
        .docmanager .graph .node .item:hover {
          background-color: #efe9e3; }
        .docmanager .graph .node .item div {
          margin-left: 7px; }
    .docmanager .graph .cell {
      width: 24px;
      height: 24px; }
    .docmanager .graph .tree {
      width: 24px;
      height: 24px;
      background-image: url("../img/tree.png"); }
    .docmanager .graph .tree-end {
      width: 24px;
      height: 24px;
      background-image: url("../img/tree-end.png"); }
    .docmanager .graph .tree-center {
      width: 24px;
      height: 24px;
      background-image: url("../img/tree-center.png"); }
  .docmanager .doc-code {
    position: relative;
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid #dcd0c3; }
  .docmanager .doc-image {
    background-color: white;
    border: 0;
    border-bottom: 1px solid #dcd0c3; }
    .docmanager .doc-image .content {
      overflow: auto; }
    .docmanager .doc-image .ui-image {
      position: absolute; }
  .docmanager .state {
    height: 56px;
    font-size: 12px;
    background-color: white;
    overflow-y: auto;
    flex-shrink: 0;
    padding-left: 5px;
    user-select: text;
    -ms-user-select: text;
    -moz-user-select: text;
    -webkit-user-select: text; }
  .docmanager .ui-splitter {
    border-top: 1px solid #dcd0c3;
    background-color: white; }

@keyframes tab {
  from {
    margin-top: 16px; }
  to {
    margin-top: 0; } }
#splash {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #splash .logo {
    background: white url("../img/logo.jpg") no-repeat 0 0;
    width: 513px;
    height: 296px;
    color: white; }
    #splash .logo div {
      margin-left: 15px;
      margin-top: 270px;
      font-size: 10px;
      font-style: italic; }

.hion-toolbar {
  height: 27px;
  padding: 1px;
  border-bottom: 1px solid #dcd0c3;
  display: flex;
  align-items: center;
  flex-shrink: 0; }
  .hion-toolbar .separator {
    flex-grow: 1; }
  .hion-toolbar .hion {
    padding-right: 10px;
    border-top: 1px solid #dcd0c3;
    border-left: 1px solid #dcd0c3;
    border-bottom: 1px solid #dcd0c3;
    border-bottom-left-radius: 15px;
    padding-top: 5px;
    height: 21px;
    margin-top: -1px;
    padding-left: 4px;
    margin-left: 5px;
    background: #c9b9ab url("../img/hion.png") no-repeat 11px 3px;
    box-shadow: 0px 0px 4px 1px #323232;
    width: 23px; }
  .hion-toolbar .ui-toolbar:nth-child(6) {
    display: none; }
  .hion-toolbar .user {
    padding-right: 10px; }

.palette {
  flex-shrink: 0;
  position: relative;
  width: 142px; }
  .palette > .pl-body {
    border-top: 1px solid white;
    /*border-right: 1px solid $borderDark;*/
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; }
    .palette > .pl-body .element {
      margin: 0px;
      border: 1px solid transparent;
      border-radius: 3px;
      width: 27px;
      height: 27px;
      padding-left: 2px;
      padding-top: 2px; }
      .palette > .pl-body .element[selected] {
        border-color: #684b3e;
        background-color: #92604b; }
      .palette > .pl-body .element:hover {
        border-color: #684b3e;
        background-color: #92604b; }
    .palette > .pl-body .group {
      background-color: #dcd0c3;
      font-size: 12px;
      flex-basis: 100%;
      padding-left: 5px; }

.props {
  /*    border-left: 1px solid $borderLight;*/
  border-top: 1px solid white;
  width: 200px;
  vertical-align: top;
  font-size: 12px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  .props .content {
    width: 100%; }
  .props .pan {
    border-left: 1px solid #dcd0c3;
    flex-grow: 1;
    position: relative; }
    .props .pan > .content {
      overflow: auto;
      position: absolute;
      top: 0;
      bottom: 0; }
  .props .ui-toolbar {
    border-bottom: 1px solid #dcd0c3;
    flex-grow: 0;
    flex-shrink: 0; }
  .props .ui-listbox {
    border: 0;
    border-bottom: 1px solid #dcd0c3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .props .ui-splitter {
    border-top: 1px solid white; }
  .props .ui-panel {
    border: 0; }

.borderin {
  border: 1px solid white;
  border-top-color: #dcd0c3;
  border-left-color: #dcd0c3; }

.borderout {
  border: 1px solid white;
  border-bottom-color: #dcd0c3;
  border-right-color: #dcd0c3; }

.panel-clear {
  border: 0; }

.input-classic {
  background-color: white;
  border: 1px solid gray; }

.ui-pannel-top-left {
  border-right: 0;
  border-bottom: 0;
  border-top: 1px solid white;
  border-left: 1px solid white; }

.bg-dark {
  background-color: #dcd0c3; }

.infopanel {
  font-size: 12px;
  border: 1px solid gray;
  border-top: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  position: absolute;
  left: 30%;
  top: -60px;
  width: 300px;
  height: auto;
  text-align: center;
  box-shadow: 0 0 5px #888;
  overflow: hidden;
  cursor: pointer;
  transition: top 0.2s ease-out; }
  .infopanel .error {
    padding: 5px;
    background-color: #f88; }
  .infopanel .info {
    padding: 5px;
    background-color: #8f8; }

*[visible=false] {
  display: none !important; }

@media print {
  @page {
    size: auto;
    margin: 0; } }
@media (max-width: 840px) {
  .hion-toolbar {
    flex-wrap: wrap;
    height: auto; }
    .hion-toolbar .hion {
      display: none; }
    .hion-toolbar .ui-toolbar:nth-child(2) {
      order: 10; }
      .hion-toolbar .ui-toolbar:nth-child(2) .button:nth-child(5), .hion-toolbar .ui-toolbar:nth-child(2) .button:nth-child(20), .hion-toolbar .ui-toolbar:nth-child(2) .splitter:nth-child(1), .hion-toolbar .ui-toolbar:nth-child(2) .splitter:nth-child(19) {
        display: none; }
    .hion-toolbar .ui-toolbar:nth-child(6) {
      display: inherit; }
    .hion-toolbar .user {
      padding-right: 0; }
    .hion-toolbar .mainmenu .item {
      padding: 5px 4px; }

  .palette {
    width: 100px !important;
    border-right: 1px solid #dcd0c3; }

  .props {
    width: 180px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #efe9e3;
    border-left: 1px solid white;
    border-top: 0;
    box-shadow: 0 0 5px #888; }

  .ui-workspace > .ui-splitter {
    display: none; }

  .dialog {
    left: 0 !important;
    position: fixed;
    right: 0;
    max-width: 99% !important; }

  .frm-edit-grip {
    width: 11px !important;
    height: 11px !important; }

  .popup .item {
    height: 20px; }

  .logo {
    background-size: 300px auto !important;
    width: 300px !important;
    height: auto !important; }
    .logo div {
      margin-top: 157px !important; } }
#workspace {
  background-color: #efe9e3;
  display: flex;
  align-content: stretch;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

.ui-workspace {
  align-content: stretch;
  align-items: stretch;
  flex-basis: 100%; }
  .ui-workspace > .ui-splitter {
    border-top: 1px solid white;
    border-right: 1px solid #dcd0c3; }
  .ui-workspace .prop-splitter {
    border-left: 1px solid white;
    border-right: 0; }

.ui-property-editor {
  cursor: default;
  width: 100%;
  border-spacing: 0; }
  .ui-property-editor tr td {
    border: 1px solid #dcd0c3;
    border-width: 0 1px 1px 0;
    padding: 0; }
    .ui-property-editor tr td div.pe-title {
      border-left: 1px solid transparent; }
      .ui-property-editor tr td div.pe-title .in {
        left: 13px; }
    .ui-property-editor tr td div.pe-value {
      color: navy;
      position: relative; }
      .ui-property-editor tr td div.pe-value .color {
        width: 11px;
        height: 11px;
        border: 1px solid gray;
        margin: 0 3px;
        flex-shrink: 0; }
    .ui-property-editor tr td div.pe-header {
      padding-left: 5px;
      font-weight: bold; }
    .ui-property-editor tr td div.pe-group {
      padding-left: 3px;
      display: flex;
      align-items: center; }
      .ui-property-editor tr td div.pe-group .caption {
        margin-left: 3px; }
  .ui-property-editor tr[selected] div.out {
    border-top-color: gray;
    border-bottom-color: white; }
  .ui-property-editor tr[selected] div.pe-title {
    border-left-color: gray; }
  .ui-property-editor tr[selected] div.pe-value div.in {
    padding-top: 0;
    padding-left: 0;
    white-space: normal;
    overflow: visible; }
    .ui-property-editor tr[selected] div.pe-value div.in input[type=text] {
      padding-left: 2px; }
    .ui-property-editor tr[selected] div.pe-value div.in div.advanced {
      padding-left: 2px;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .ui-property-editor div.out {
    position: relative;
    height: 16px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent; }
    .ui-property-editor div.out div.in {
      padding-top: 1px;
      padding-left: 2px;
      bottom: 0;
      top: 0;
      left: 0px;
      right: 0;
      position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: flex;
      align-items: center; }
      .ui-property-editor div.out div.in input[type=text] {
        border: 0;
        height: 100%;
        width: 100%;
        min-width: 0;
        font-size: 12px;
        flex-grow: 1;
        padding-top: 1px; }
        .ui-property-editor div.out div.in input[type=text]:focus {
          outline: 0; }
      .ui-property-editor div.out div.in button {
        padding: 0;
        width: 18px;
        height: 17px;
        flex-shrink: 0;
        font-size: 12px; }
      .ui-property-editor div.out div.in .combo {
        right: 0;
        top: 0;
        width: 120px;
        min-height: 36px;
        max-height: 120px;
        border: 1px solid gray;
        background-color: white;
        margin-top: 18px;
        overflow: auto;
        position: absolute;
        z-index: 999;
        color: black; }
        .ui-property-editor div.out div.in .combo > div {
          font-weight: normal;
          padding: 2px;
          display: flex;
          align-items: center; }
          .ui-property-editor div.out div.in .combo > div .color {
            width: 12px;
            height: 12px;
            border: 1px solid gray;
            margin: 0 3px; }
          .ui-property-editor div.out div.in .combo > div:hover {
            background-color: #efe9e3; }
          .ui-property-editor div.out div.in .combo > div[default] {
            font-weight: bold; }
          .ui-property-editor div.out div.in .combo > div[selected] {
            background-color: #66ccff; }
      .ui-property-editor div.out div.in[changed] {
        font-weight: bold; }
      .ui-property-editor div.out div.in[default] {
        font-weight: bold; }
      .ui-property-editor div.out div.in[ingroup] {
        left: 22px; }
      .ui-property-editor div.out div.in[manager] {
        color: maroon;
        font-weight: bold; }
    .ui-property-editor div.out .checkboxsmall {
      font-size: 0;
      width: 9px;
      margin-top: 4px;
      margin-left: 3px; }
      .ui-property-editor div.out .checkboxsmall input[type="checkbox"] {
        display: none; }
        .ui-property-editor div.out .checkboxsmall input[type="checkbox"] + span {
          display: inline-block;
          width: 9px;
          height: 9px;
          background: url(/img/ui.png) -9px -13px no-repeat;
          cursor: pointer; }
        .ui-property-editor div.out .checkboxsmall input[type="checkbox"]:checked + span {
          background-position: 0 -13px; }
    .ui-property-editor div.out .checkboxspoiler {
      font-size: 0; }
      .ui-property-editor div.out .checkboxspoiler input[type="checkbox"] {
        display: none; }
        .ui-property-editor div.out .checkboxspoiler input[type="checkbox"]:checked + span {
          background-position: -27px -13px; }
        .ui-property-editor div.out .checkboxspoiler input[type="checkbox"] + span {
          display: inline-block;
          width: 9px;
          height: 9px;
          background: url(/img/ui.png) -18px -13px no-repeat;
          cursor: pointer; }

/*# sourceMappingURL=ui.css.map */
